/* Globals */

/*Font ref: https://fonts.google.com/specimen/Montserrat?selection.family=Montserrat:wght@400;600&sidebar.open*/
* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

body {
    background-color: #e0e0e0;
}

.container {
    margin: 0 6rem 0 6rem;
    max-width: none;
    width: auto;
}

.divider {
    background-color: #fafafa;
}

/* Header */
.logo-home-text {
    color: #424242;
    font-weight: 600;
    font-size: 1.2em;
}

.logo-chopped-text {
    color: #616161;
    font-weight: 400;
}

.nav-link-text a {
    color: #424242;
    font-weight: 500;
}

.sidenav-menu-icon {
    color: #424242;
}

/* Footer */

/* social icons */
.social-footer-icon {
    font-size: 2em;
    margin: 0;
    text-align: center;
    color: #424242;
    padding: 10px 20px 0 15px;
    transition: all 1s;
}

.social-footer-icon:hover {
    color: #757575;
}

/* copyright */
.copyright-text p {
    font-size: 1em;
    color: #424242;
    margin: 0;
    padding-bottom: 10px;
}

/* index main slider image */

/* indicators */
.slider .indicators .indicator-item {
    background-color: #757575;
}

.slider .indicators .indicator-item.active {
    background-color: #424242;
}

/* image captions */
.slider .slides li .caption {
    background-color: rgba(255, 255, 255, 0.5);
    color: #616161;
    width: 100%;
    left: 0;
}

/* Cards */

.card {
    background-color: #f5f5f5;
}

.card-image img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    overflow: hidden;
    top: -30px !important;
    bottom: -30px !important;
}

.rating-star {
    position: relative;
    color: #ffff00;
    font-size: 1.6em;
    z-index: 2;
    margin-right: 0 !important;
    margin-top: 5px;
    left: 10px;
}

.card .card-content {
    padding-top: 0;
    padding-bottom: 0;
}

.card .card-content .card-title {
    margin-top: 0.2em;
    font-size: 1.6em;
    font-weight: 600;
}

.recipe-card-info-text p {
    font-weight: 500;
    font-size: 1em;
}

.recipe-card-info-text {
    padding: 0.5em !important;
}

/* Featured page */
.filter-icon a{
    font-size: 2em;
    color: #424242;
}

.filter-icon a:hover{
    font-size: 2em;
    color: #757575;
}

.filter-bar{
    padding-bottom: 0;
}

/* sign in page*/
.sign-in-header h4{
    font-weight: 600;
    color: #424242;
    background: #bdbdbd;
    padding: 5px;
    margin: 0;
    margin-top: 1em;
}

.sign-in-btn{
    width: 100%;
}

.btn{
    /*color: #bdbdbd;*/
    /*background: #424242;*/
    font-weight: 500;
    font-size: 1.3em;
}


/* Media Queries */

/* Small */
@media (max-width: 991px) {
    /* globals*/
    .container {
        margin: 0 1em 0 1em;
    }

    /*  header */
    .logo-home-text {
        font-size: 0.8em;
    }

    .logo-chopped-text {
        font-weight: 500;
        font-size: 0.6em;
    }

    /* footer */
    .copyright-text p {
        font-size: 0.6em;
        font-weight: 500;
    }

    /* cards */
    .card .card-content .card-title {
        margin-top: 0.2em;
        font-size: 0.9em;
        font-weight: 600;
    }

    .recipe-card-info-text p {
        font-weight: 600;
        font-size: 0.6em;
    }
}

/* med  */
@media (min-width: 768px) {
    /*  header */
    .logo-home-text {
        font-size: 1em;
    }

    .logo-chopped-text {
        font-size: 0.8em;
    }

    /* footer */
    .copyright-text p {
        font-size: 0.8em;
    }

    /* cards */
    .card .card-content .card-title {
        margin-top: 0.2em;
        font-size: 1.2em;
        font-weight: 600;
    }

    .recipe-card-info-text p {
        font-weight: 600;
        font-size: 0.8em;
    }
}

/*lg*/
@media (min-width: 1024px) {
    /* cards */

    /* content box*/
    .card-content {
        padding: 0 1em !important;
    }

    /* title text */
    .card .card-content .card-title {
        margin-top: 0.2em;
        font-size: 1em;
        font-weight: 600;
    }

    /* more icon*/
    .card .card-content .card-title i {
        margin-top: 0.2em;
        font-size: 1.2em;
        font-weight: 600;
    }

    /*Heading of info texts*/
    .recipe-card-info-text p {
        font-weight: 600;
        font-size: 0.7em;
    }

    /*icon and info text*/
    .recipe-card-info-text > span, i {
        font-weight: 500;
        font-size: 0.5em;
    }

}

/* xl  */
@media (min-width: 1140px) {
    /* Header */
    .logo-home-text {
        color: #424242;
        font-weight: 600;
        font-size: 1.2em;
    }

    .logo-chopped-text {
        color: #616161;
        font-weight: 400;
    }

    /*Heading of info texts*/
    .recipe-card-info-text p {
        font-weight: 600;
        font-size: 0.7em;
    }

    /*icon and info text*/
    .recipe-card-info-text > span, i {
        font-size: 0.7em;
    }

    /* footer */
    .copyright-text p {
        font-size: 0.8em;
    }
}