/* Rating System Stylesheet */
/* Reference: https://www.cssscript.com/five-star-rating-system-with-pure-css-and-radio-button-hack/*/

.modal-rating {
    padding-bottom: 0 !important;
}

/* Horizontal alignment */
.rating {
    margin-top: 1em;
    overflow: hidden;
    vertical-align: bottom;
    display: inline-block;
    width: auto;
    height: 30px;
}

/* inactive star */
.rating > label {
    position: relative;
    display: block;
    float: right;
    background: url('https://res.cloudinary.com/dajuujhvs/image/upload/v1592067670/homechopped/star_border-24px-blue_eexqmu.png');
    background-size: 30px 30px;
}

/* Active star */
.rating > label:before {
    display: block;
    opacity: 0;
    content: '';
    width: 30px;
    height: 30px;
    background: url('https://res.cloudinary.com/dajuujhvs/image/upload/v1592067670/homechopped/star-24px-blue_hjbtfh.png');
    color: yellow;
    background-size: 30px 30px;
    transition: opacity 0.2s linear;
}

/* Fade in on hover */
.rating > label:hover:before, .rating > label:hover ~ label:before, .rating:not(:hover) > :checked ~ label:before {
    opacity: 1;
}
