/* Globals */

/*Font ref: https://fonts.google.com/specimen/Montserrat?selection.family=Montserrat:wght@400;600&sidebar.open*/
* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

body {
    background-color: #eeeeee;
}

/*noinspection ALL*/
.container {
    margin: 0 6rem 0 6rem;
    max-width: none;
    width: auto;
}


/* Header */
.logo-home-text {
    color: #333333;
    font-weight: 600;
    font-size: 1.2em;
}

.logo-chopped-text {
    color: #404040;
    font-weight: 400;
}

.navbar-fill {
    background-color: #c3c3c3;
}

.sidenav-box{
    line-height: normal!important;
}

.nav-link-text a {
    color: #212121;
    font-weight: 500;
}

.sidenav-menu-icon {
    color: #424242;
}

/* form labels*/
.input-field > label {
    color: #424242 !important;
}

/* Footer */

/* social icons */
.social-footer-icon {
    font-size: 2em;
    margin: 0;
    text-align: center;
    color: #424242;
    padding: 10px 20px 0 15px;
    transition: all 1s;
}

.social-footer-icon:hover {
    color: #757575;
}

/* copyright */
.copyright-text p {
    font-size: 1em;
    color: #424242;
    margin: 0;
    padding-bottom: 10px;
}

.recipe-edit {
    position: relative;
    bottom: -30px;
    right: 10px;
}


/* sign in page*/
.sign-in-header h4 {
    font-weight: 600;
    color: #424242;
    background: #bdbdbd;
    padding: 5px;
    margin: 1em 0 0;
}

.sign-in-btn {
    width: 100%;
}


.btn {
    font-weight: 500;
    font-size: 1.3em;
}

/* edit recipe */
/* save button */
.save-recipe-btn {
    position: absolute;
    margin-top: 1em;
}

.del-recipe-button {
    margin-top: 10px;
}

/* Profile page */
.profile-img-lg {
    width: 160px;
    height: 160px;
    position: relative;
    left: 0;
    border-radius: 50%;
    box-shadow: -2px 2px 10px #757575;
}



.profile-title-text h4 {
    font-weight: 600;
    margin: 0;
    position: relative;
}

.folder-btn {
    position: absolute !important;
    height: 40px !important;
    width: 40px !important;
    left: 20px;
}

.folder-btn2 {
    height: 40px !important;
    width: 40px !important;
}

.recipe-tab {
    background: #bdbdbd;
}

.recipe-tab i {
    font-size: 2.5em;
    position: relative;
    top: 5px;
}

.done-btn {
   margin-top: 10px;
}

.recipe-tab a {
    color: #424242 !important;
    font-weight: 500;
}

/*noinspection ALL*/
.tabs .indicator {
    background: #fafafa !important;
}

.tabs .tab a:focus, .tabs .tab a:focus.active {
    background-color: rgba(255, 255, 255, 0.2);
}


.edit-profile-icon i {
    line-height: 50px !important;
}

.profile-bio-text p {
    padding: 1em;
    font-size: 1em;
    background: #e0e0e0;
    border-radius: 5px;
    border: 1px solid #bdbdbd;
    font-weight: 500;
}

.save-recipe button {
    position: absolute;
    left: 36px;
    top: 100px;
}

/* edit recipe image*/
.edit-recipe-img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: -2px 2px 10px #757575;
}


.profile-link-btn {
    font-size: 1.6em;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    transition: all 0.3s linear;
}

.profile-link-btn :hover {
    text-shadow: 2px 2px 5px #bdbdbd;
    transition: all 0.3s linear;
}

.btn-flat {
    font-size: 1em;
}

/* Edit profile */

.edit-textarea-label {
    font-size: 1.5em !important;
}


.del-profile i {
    color: #e0e0e0;
}

.profile-link-btn span {
    font-weight: 500;
    color: #e0e0e0;
    font-size: 0.9em;
}

.modal {
    width: 35%;
}


/* Media Queries */

/* Small */
/*noinspection ALL*/
@media (max-width: 991px) {
    /* globals*/
    .container {
        margin: 0 1em 0 1em;
    }

    /*  header */
    .logo-home-text {
        font-size: 0.8em;
    }

    .logo-chopped-text {
        font-weight: 500;
        font-size: 0.6em;
    }

    /* footer */
    .copyright-text p {
        font-size: 0.6em;
        font-weight: 500;
    }

    /* cards */
    .card .card-content .card-title {
        margin-top: 0.2em;
        font-size: 0.9em;
        font-weight: 600;
    }

    .recipe-card-info-text p {
        font-weight: 600;
        font-size: 0.6em;
    }

    .modal {
        width: 80% !important;
    }
}

/* med  */
@media (min-width: 768px) {
    /*  header */
    .logo-home-text {
        font-size: 1em;
    }

    .logo-chopped-text {
        font-size: 0.8em;
    }

    /* footer */
    .copyright-text p {
        font-size: 0.8em;
    }

    /* cards */
    .card .card-content .card-title {
        margin-top: 0.2em;
        font-size: 1.2em;
        font-weight: 600;
    }

    .recipe-card-info-text p {
        font-weight: 600;
        font-size: 0.8em;
    }
}

/*lg*/
@media (min-width: 1024px) {
    /* cards */
    /* content box*/
    .card-content {
        padding: 0 1em !important;
    }

    /* title text */
    .card .card-content .card-title {
        margin-top: 0.2em;
        font-size: 1em;
        font-weight: 600;
    }

    /* more icon*/
    .card .card-content .card-title i {
        margin-top: 0.2em;
        font-size: 1.2em;
        font-weight: 600;
    }

    /*Heading of info texts*/
    .recipe-card-info-text p {
        font-weight: 600;
        font-size: 0.7em;
    }

    /*icon and info text*/
    .recipe-card-info-text > span, i {
        font-weight: 500;
        font-size: 0.5em;
    }

}

/* xl  */
@media (min-width: 1140px) {
    /* Header */
    .logo-home-text {
        color: #424242;
        font-weight: 600;
        font-size: 1.2em;
    }

    .logo-chopped-text {
        color: #616161;
        font-weight: 400;
    }

    /*Heading of info texts*/
    .recipe-card-info-text p {
        font-weight: 600;
        font-size: 0.7em;
    }

    /*icon and info text*/
    .recipe-card-info-text > span, i {
        font-size: 0.7em;
    }

    /* footer */
    .copyright-text p {
        font-size: 0.8em;
    }
}