/* Globals */

/*Font ref: https://fonts.google.com/specimen/Montserrat?selection.family=Montserrat:wght@400;600&sidebar.open*/
* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #eeeeee;
}

/* container defaults */
.container {
    margin: 0 6rem 0 6rem;
    max-width: none;
    width: auto;
}

/* modal defaults */
.modal {
    width: 35%;
}

/* button defaults*/
.btn-flat {
    font-size: 1em;
}

/* form labels*/
.input-field > label {
    color: #424242 !important;
}

/* Header */
.logo-home-text {
    color: #333333;
    font-weight: 600;
    font-size: 1.2em;
}

.logo-chopped-text {
    color: #404040;
    font-weight: 400;
}

.navbar-fill {
    background-color: #c3c3c3;
}

.sidenav-box{
    line-height: normal!important;
}

.nav-link-text a {
    color: #212121;
    font-weight: 500;
}

.sidenav-menu-icon {
    color: #424242;
}


/* Footer */

/* social icons */
.social-footer-icon {
    font-size: 2em;
    margin: 0;
    text-align: center;
    color: #424242;
    padding: 10px 20px 0 15px;
    transition: all 1s;
}

.social-footer-icon:hover {
    color: #757575;
}

/* copyright */
.copyright-text p {
    font-size: 1em;
    color: #424242;
    margin: 0;
    padding-bottom: 10px;
}



/* Media Queries */

/* Small */
@media (max-width: 991px) {
    /* globals*/
    .container {
        margin: 0 1em 0 1em;
    }

    /*  header */
    .logo-home-text {
        font-size: 0.8em;
    }

    .logo-chopped-text {
        font-weight: 500;
        font-size: 0.6em;
    }

    /* footer */
    .copyright-text p {
        font-size: 0.6em;
        font-weight: 500;
    }

    /* cards */
    .card .card-content .card-title {
        margin-top: 0.2em;
        font-size: 0.9em;
        font-weight: 600;
    }

    .recipe-card-info-text p {
        font-weight: 600;
        font-size: 0.6em;
    }

    .modal {
        width: 80% !important;
    }
}

/* med  */
@media (min-width: 768px) {
    /*  header */
    .logo-home-text {
        font-size: 1em;
    }

    .logo-chopped-text {
        font-size: 0.8em;
    }

    /* footer */
    .copyright-text p {
        font-size: 0.8em;
    }

    /* cards */
    .card .card-content .card-title {
        margin-top: 0.2em;
        font-size: 1.2em;
        font-weight: 600;
    }

    .recipe-card-info-text p {
        font-weight: 600;
        font-size: 0.8em;
    }
}

/*lg*/
@media (min-width: 1024px) {
    /* cards */
    /* content box*/
    .card-content {
        padding: 0 1em !important;
    }

    /* title text */
    .card .card-content .card-title {
        margin-top: 0.2em;
        font-size: 1em;
        font-weight: 600;
    }

    /* more icon*/
    .card .card-content .card-title i {
        margin-top: 0.2em;
        font-size: 1.2em;
        font-weight: 600;
    }

    /*Heading of info texts*/
    .recipe-card-info-text p {
        font-weight: 600;
        font-size: 0.7em;
    }

    /*icon and info text*/
    .recipe-card-info-text > span, i {
        font-weight: 500;
        font-size: 0.5em;
    }

}

/* xl  */
@media (min-width: 1140px) {
    /* Header */
    .logo-home-text {
        color: #424242;
        font-weight: 600;
        font-size: 1.2em;
    }

    .logo-chopped-text {
        color: #616161;
        font-weight: 400;
    }

    /*Heading of info texts*/
    .recipe-card-info-text p {
        font-weight: 600;
        font-size: 0.7em;
    }

    /*icon and info text*/
    .recipe-card-info-text > span, i {
        font-size: 0.7em;
    }

    /* footer */
    .copyright-text p {
        font-size: 0.8em;
    }
}