{% extends 'base.html' %}
{% block content %}
    <!-- Page Title -->

    <h5 class="center"> EDIT RECIPE </h5>
    <div class="row">
    <!-- Page Title -->

        <div class="col s12">
            <!-- Add  -->
            <a id='editIngredients' href="{{ url_for('profile') }}"
               class="waves-effect waves-light btn grey darken-3 grey-text text-lighten-2 left profile-link-btn left">
                back
            </a>
        </div>
    </div>

    <!-- DELETE  -->
    <a class="btn-floating btn-large waves-effect waves-light red right modal-trigger" href="#delete-recipe-modal"><i
            class="material-icons">delete</i></a>

    <!-- Delete Modal Structure -->
    <div id="delete-recipe-modal" class="modal">
        <div class="modal-content ">

            <h4>Delete Recipe?</h4>
            <p>Deleting the Recipe is permanent and cannot be undone, <strong>are you sure you want to
                delete this Recipe?</strong></p>
        </div>
        <div class="modal-footer">
            <a href="{{ url_for('del_recipe', recipe_id=recipe_id) }}"
               class="modal-close waves-effect waves-green btn-flat red-text">DELETE</a>
            <a href="#"
               class="modal-close waves-effect waves-green btn-flat grey-text-text">Cancel</a>
        </div>
    </div>

    <!-- Recipe form -->
    <div class="row">
        <form class="col s6 " enctype="multipart/form-data" method="POST"
              action="{{ url_for('update_recipe', user_id=user_id, recipe_id=recipe_id) }}">
            <div class="row">
                <div class="col s6 center">
                    <!-- Recipe image upload -->
                    <div class="row file-field input-field">
                        <!-- filename -->
                        <div class="col s8 file-path-wrapper right">
                            <input class="file-path validate" type="text">
                        </div>
                        <!-- browse -->
                        <button class="waves-effect waves-light btn grey darken-3 grey-text text-lighten-2 right profile-link-btn"
                                type="file" name="file">
                            Browse
                            <input type="file" name="file">
                        </button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="recipe_name" type="text" class="validate" name="recipe-name"
                           value="{{ current_recipe.name }}">
                    <label for="recipe_name">Recipe Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="recipe_description" class="materialize-textarea"
                              name="recipe-description">{{ current_recipe.description }}</textarea>
                    <label for="recipe_description">Description</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="recipe_notes" class="materialize-textarea"
                              name="recipe-notes">{{ current_recipe.notes }}</textarea>
                    <label for="recipe_notes">Notes</label>
                </div>
            </div>
            <!--Prep-Time-->
            <div class="row">
                <p>Prep-Time</p>
                <!--Hours-->
                <div class="input-field col s6">
                    <select name="prep-hours">
                        <option value="{{ current_recipe.preptime_hrs }}"
                                selected>{{ current_recipe.preptime_hrs }}</option>
                        {% for i in range(24) %}
                            <option value="{{ i }}">{{ i }}</option>
                        {% endfor %}
                    </select>
                    <label>Hours</label>
                </div>
                <!--Minutes-->
                <div class="input-field col s6">
                    <select name="prep-minutes">
                        <option value="{{ current_recipe.preptime_min }}"
                                selected>{{ current_recipe.preptime_min }}</option>
                        {% for i in range(60) %}
                            <option value="{{ i }}">{{ i }}</option>
                        {% endfor %}
                    </select>
                    <label>Minutes</label>
                </div>
            </div>
            <!--Cook-Time-->
            <div class="row">
                <p>Cook Time</p>
                <!--Hours-->
                <div class="input-field col s6">
                    <select name="cook-hours">
                        <option value="{{ current_recipe.cooktime_hrs }}"
                                selected>{{ current_recipe.cooktime_hrs }}</option>
                        {% for i in range(24) %}
                            <option value="{{ i }}">{{ i }}</option>
                        {% endfor %}
                    </select>
                    <label>Hours</label>
                </div>
                <!--Minutes-->
                <div class="input-field col s6">
                    <select name="cook-minutes">
                        <option value="{{ current_recipe.cooktime_min }}"
                                selected>{{ current_recipe.cooktime_min }}</option>
                        {% for i in range(60) %}
                            <option value="{{ i }}">{{ i }}</option>
                        {% endfor %}
                    </select>
                    <label>Minutes</label>
                </div>
            </div>
            <!--Serves-->
            <div class="row">
                <div class="input-field col s6">
                    <select name="serves">
                        <option value="{{ current_recipe.serves }}" selected>{{ current_recipe.serves }}</option>
                        {% for i in range(11) %}
                            <option value="{{ i }}">{{ i }}</option>
                        {% endfor %}
                    </select>
                    <label>Serves</label>
                </div>
            </div>


            <!-- Submit -->
            <button class="waves-effect waves-light btn grey darken-3 grey-text text-lighten-2 right profile-link-btn"
                    type="submit" name="action">
                SAVE
            </button>
        </form>
    <!-- Ingredients -->
        <div class="section">
            <h6>Ingredient List</h6>
            <br>
            <!-- Current ingredients -->
            {% for ingredient in current_ingredients %}

                <p>{{ ingredient.ingredient_item|upper }}</p>
            {% endfor %}
            <!-- Add  -->
            <a id='editIngredients' href="{{ url_for('edit_ingredient_list', recipe_id=recipe_id, user_id=user_id) }}"
               class="waves-effect waves-light btn grey darken-3 grey-text text-lighten-2 left profile-link-btn left">
                EDIT
            </a>
        </div>

        <!-- Method -->
        <div class="section">
            <br>
            <h6>Method List</h6>
            <br>
            <!-- Current methods -->
            {% for method  in current_methods %}
                <p>{{ loop.index }}. {{ method.method_name|upper}}</p>
            {% endfor %}
            <!-- Add  -->
            <a id='editMethod' href="{{ url_for('edit_method_list', recipe_id=recipe_id, user_id=user_id) }}"
               class="waves-effect waves-light btn grey darken-3 grey-text text-lighten-2 left profile-link-btn left">
                EDIT
            </a>
        </div>
    </div>
{% endblock %}