{% extends 'base.html' %}

{% block content %}
    <br>
    <div class="slider">
        <ul class="slides">
            <!-- random image 1 -->
            <li>
                <img src="https://res.cloudinary.com/dajuujhvs/image/upload/v1590918265/homechopped/burger.jpg">
                <div class="caption center-align ">
                    <h3>This is our big Tagline!</h3>
                    <h5>Here's our small slogan.</h5>
                </div>
            </li>
            <!-- random image 2 -->
            <li>
                <img src="https://res.cloudinary.com/dajuujhvs/image/upload/v1590918405/homechopped/japanese-food.jpg">
                <div class="caption center-align ">
                    <h3>This is our big Tagline!</h3>
                    <h5>Here's our small slogan.</h5>
                </div>
            </li>
            <!-- random image 3 -->
            <li>
                <img src="https://res.cloudinary.com/dajuujhvs/image/upload/v1590918516/homechopped/good-food.jpg">
                <div class="caption center-align ">
                    <h3>This is our big Tagline!</h3>
                    <h5>Here's our small slogan.</h5>
                </div>
            </li>
            <!-- random image 4 -->
            <li>
                <img src="https://res.cloudinary.com/dajuujhvs/image/upload/v1590918606/homechopped/french-patisserie.jpg">
                <div class="caption center-align ">
                    <h3>This is our big Tagline!</h3>
                    <h5>Here's our small slogan.</h5>
                </div>
            </li>
        </ul>
    </div>
    <h1>Recipes</h1>
    {% for recipe in recipes %}
        <h4>{{ recipe.name }}</h4>
    {% endfor %}
{% endblock %}