{% extends 'base.html' %}
{% block content %}
    <div class="section">
        <br>
        <!-- Profile area -->
        <div class="row">
            <!-- Profile image -->
            <div class="col m2 center">
                    {% if not user_data.profile_image  %}
                    <img class=" profile-img-lg" width="100"
                         src="https://res.cloudinary.com/dajuujhvs/image/upload/v1591278246/homechopped/profile-pics/default_pic.png"
                         alt="profile image">
                {% else %}
                        <img class=" profile-img-lg" width="100"
                         src="{{ user_data.profile_image}}"
                         alt="profile image">
                {% endif %}

            </div>
            <!-- Profile name -->
            <div class="col m3 profile-title-text">
                <h5>Welcome,</h5>
                <h4>{{ user_data.username|upper }}</h4>
            </div>
            <!-- Profile Bio -->
            <div class="col m6 profile-bio-text">
                <h5>Bio:</h5>
                <p>{{ user_data.bio }}</p>

            </div>
        </div>
        <div class="row">
            <!-- Profile buttons-->
            <div class="col s12">
                <a class="waves-effect waves-light btn grey darken-3 grey-text text-lighten-2 right profile-link-btn"
                   href="{{ url_for('sign_out') }}">Sign Out</a>
                <a class="waves-effect waves-light btn grey darken-3 grey-text text-lighten-2 left profile-link-btn"
                   href="{{ url_for('edit_profile', user_id=user_data._id) }}">edit</a>
            </div>
        </div>
        <hr>
    </div>
    <div class="row">
        <!-- Users recipe area -->
        <div class="col s12">
            <h4>My Recipes</h4>
            <a class="waves-effect waves-light btn grey darken-3 grey-text text-lighten-2 left profile-link-btn"
               href="{{ url_for('sign_out') }}">ADD</a>
        </div>
    </div>

{% endblock %}