{% extends 'base.html' %}

{% block head_content %}
    <!-- Error CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/errors.css') }}">
{% endblock %}

<!-- page title block -->
{% block title %}410 Error{% endblock %}

<!-- Navbar Block -->
{% block navbar %}
    <li class="active"><a href="{{ url_for('index') }}">HOME</a></li>
    <li><a href="{{ url_for('featured') }}">FEATURED</a></li>
    <li><a href="{{ url_for('all_recipes') }}">ALL</a></li>
    <li><a href="/"><i class="fas fa-search"></i></a></li>
    <!-- If user is logged in display username and link to profile page else link to login page -->
    {% if session['USERNAME'] %}
        <li id="user"><a href="{{ url_for('profile') }}"> {{ session['USERNAME']|upper }} &nbsp;<i
                class="fas fa-user"></i></a></li>
    {% else %}
        <li id="login"><a href="{{ url_for('sign_in') }}"> login <i
                class="fas fa-user"></i></a></li>
    {% endif %}
{% endblock %}
<!-- Sidenav Block -->
{% block sidenav %}
    <li><a href="/">SEARCH<i class="fas fa-search"></i></a></li>
    <li class="active"><a href="{{ url_for('index') }}"><i class="material-icons">home</i>HOME</a></li>
    <li><a href="{{ url_for('featured') }}"><i class="material-icons">stars</i>FEATURED</a></li>
    <li><a href="{{ url_for('all_recipes') }}"><i class="material-icons">format_list_bulleted</i>ALL</a></li>
    <!-- If user is logged in display username and link to profile page else link to login page -->
    {% if session['USERNAME'] %}
        <li><a href="{{ url_for('profile') }}"> {{ session['USERNAME'] }} <i
                class="fas fa-user"></i></a></li>
    {% else %}
        <li><a href="{{ url_for('sign_in') }}"> {{ session['USERNAME'] }} <i
                class="fas fa-user"></i></a></li>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col s12 m8 offset-m2 xl6 offset-xl3 center">
            <!-- Error image src: https://www.drlinkcheck.com/blog/free-http-error-images -->
            <img class="error-image"
                 src="https://res.cloudinary.com/dajuujhvs/image/upload/v1592233767/errors/410-gone_qbvleg.png"
                 alt="410 error image">
            <p><a class="waves-effect waves-light btn grey lighten-1 grey-text text-darken-3"
                  href="{{ url_for('index') }}">go somewhere nice</a>
        </div>
    </div>
{% endblock %}