<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Description" content="A recipe site that is completelty driven but its users.">
    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap"
          rel="stylesheet">
    <!-- favicon -->
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}"/>
    <!-- google material icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- Custom head content per view -->
    {% block head_content %}{% endblock %}
    <!-- page title block -->
    <title>HOMEchopped | {% block title %}{% endblock %}</title>

</head>

<body>
<header>
    <nav>
        <div class="nav-wrapper navbar-fill">
            <div class="container">
                <a href="/" class="brand-logo"><span class="logo-home-text">HOME</span><span class="logo-chopped-text">chopped</span></a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i
                        class="fas fa-bars sidenav-menu-icon"></i></a>

                <ul class="right hide-on-med-and-down nav-link-text ">
                    <!-- Navbar Block -->
                    {% block navbar %}{% endblock %}
                </ul>

                <ul class="sidenav" id="mobile-demo">
                <li class="center navbar-fill sidenav-box"><img src="https://res.cloudinary.com/dajuujhvs/image/upload/v1592483678/logo_xs9pio.png" alt="logo"></li>
                    <!-- Sidenav Block -->
                    {% block sidenav %}{% endblock %}
                </ul>
            </div>
        </div>


    </nav>


</header>
<div class="main">
    <div class="container">

        {% block content %}
        {% endblock %}

    </div>
</div>

<!-- Footer -->
<footer class="page-footer grey lighten-1">

    <div class="container">
        <div class="row">
            <!-- Social links-->
            <div class="col s12 center">
                <!-- facebook -->
                <span>
                    <a class="grey-text text-lighten-4 " href="https://www.facebook.com/" aria-label="link to facebook">
                        <i class="fab fa-facebook-f social-footer-icon"></i>
                    </a>
                </span>
                <!-- twitter -->
                <span>
                    <a class="grey-text text-lighten-4 " href="https://twitter.com/" aria-label="link to twitter">
                        <i class="fab fa-twitter social-footer-icon"></i>
                    </a>
                </span>
                <!-- instagram -->
                <span>
                    <a class="grey-text text-lighten-4 " href="https://www.instagram.com/"
                       aria-label="link to instagram">
                        <i class="fab fa-instagram social-footer-icon"></i>
                    </a>
                </span>
                <!-- pinterest -->
                <span>
                    <a class="grey-text text-lighten-4 " href="https://www.pinterest.co.uk/"
                       aria-label="link to pinterest">
                        <i class="fab fa-pinterest-p social-footer-icon"></i>
                    </a>
                </span>
            </div>
        </div>
        <div class="row">
            <!-- copyright -->
            <div class="col s12 center copyright-text">
                <p>© 2020 Copyright Nic Britz (for educational purposes only)</p>
            </div>
        </div>

    </div>

</footer>

<!-- Compiled and minified materialize JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<!-- Font Awesome -->
<script src="https://kit.fontawesome.com/aca960b3f7.js" crossorigin="anonymous"></script>
<!-- Custom JavaScript -->
<script src="{{ url_for('static', filename='js/app.js') }}">
</script>
<!-- Custom script content per view -->
{% block script_content %}{% endblock %}


</body>
</html>