{% extends 'base.html' %}

<!-- page title block -->
{% block title %}Edit Profile{% endblock %}

<!-- Navbar Block -->
{% block navbar %}
    <li><a href="{{ url_for('index') }}">HOME</a></li>
    <li><a href="{{ url_for('featured') }}">FEATURED</a></li>
    <li><a href="{{ url_for('all_recipes') }}">ALL</a></li>
    <li><a href="/"><i class="fas fa-search"></i></a></li>
    <!-- If user is logged in display username and link to profile page else link to login page -->
    {% if session['USERNAME'] %}
        <li class="active" id="user"><a href="{{ url_for('profile') }}"> {{ session['USERNAME']|upper }} &nbsp;<i
                class="fas fa-user"></i></a></li>
    {% else %}
        <li class="active" id="login"><a href="{{ url_for('sign_in') }}"> login <i
                class="fas fa-user"></i></a></li>
    {% endif %}
{% endblock %}
<!-- Sidenav Block -->
{% block sidenav %}
    <li><a href="/">SEARCH<i class="fas fa-search"></i></a></li>
    <li><a href="{{ url_for('index') }}"><i class="material-icons">home</i>HOME</a></li>
    <li><a href="{{ url_for('featured') }}"><i class="material-icons">stars</i>FEATURED</a></li>
    <li><a href="{{ url_for('all_recipes') }}"><i class="material-icons">format_list_bulleted</i>ALL</a></li>
    <!-- If user is logged in display username and link to profile page else link to login page -->
    {% if session['USERNAME'] %}
        <li class="active"><a href="{{ url_for('profile') }}"> {{ session['USERNAME'] }} <i
                class="fas fa-user"></i></a></li>
    {% else %}
        <li class="active"><a href="{{ url_for('sign_in') }}"> {{ session['USERNAME'] }} <i
                class="fas fa-user"></i></a></li>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="section">
        <br>
        <!-- Title -->
        <div class="row">
            <div class="col s12 center profile-title-text">
                <h4>{{ user_data.username|upper }}</h4>
            </div>
        </div>
        <!-- page elements -->
        <div class="row">
            <div class="col s12">
                <form method="POST"
                      action="{{ url_for('update_profile',user_id=user_data._id) }}"
                      enctype="multipart/form-data">
                    <div class="row">
                        <!-- Profile Image -->
                        <div class="col s12 center">
                            <img class=" profile-img-lg" src="{{ user_data.profile_image }}" alt="user profile image">
                        </div>
                        <br>
                        <br>
                        <div class="col s12">
                            <div class="row">
                                <!-- File Browser -->
                                <div class="col s12 m6 ">
                                    <div class="file-field input-field">
                                        <div class="row">
                                            <!-- Icon -->
                                            <div class="col s1 xl1">
                                                <div class="btn-floating btn-large waves-effect waves-light blue folder-btn">
                                                    <i class="material-icons">folder</i>
                                                    <input type="file" name="file" accept="image/png, image/jpeg"></div>
                                            </div>
                                            <!-- File Path -->
                                            <div class="col s8 offset-s2 xl10 offset-xl1">
                                                <div class="file-path-wrapper">
                                                    <input id="profile_pic" class="file-path validate" type="text">
                                                    <label for="profile_pic">Upload a profile picture</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Email Field -->
                                <div class="col s12 m6 ">
                                    <div class="input-field ">
                                        <i class="material-icons prefix">alternate_email</i>
                                        <input id="icon_email" type="email" class="validate"
                                               value="{{ user_data.email }}"
                                               name="email">
                                        <label for="icon_email">Email</label>
                                        <span class="helper-text" data-error="please enter a valid email address"
                                              data-success="correct"></span>
                                    </div>
                                </div>
                                <!-- About Me Field -->
                                <div class="col s12">
                                    <div class="input-field">
                                        <i class="material-icons prefix">mode_edit</i>
                                        <textarea id="about-text" class="materialize-textarea t-counter ar-text"
                                                  name="bio" data-length="250"
                                                  maxlength="250" autofocus>{{ user_data.bio }}</textarea>
                                        <label for="about-text" class="edit-textarea-label">About me</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <!-- Save Button -->
                        <div class="col s12 m5 l6">
                            <button class="btn-floating btn-large waves-effect waves-light green left" type="submit"
                                    name="action"><i
                                    class="material-icons">save</i></button>
                        </div>
                        <!-- Delete Profile Modal Trigger -->
                        <div class="col s12 m7 l5 xl6">
                            <a class="btn-floating btn-large waves-effect waves-light red right modal-trigger"
                               href="#delete-profile-modal"><i class="material-icons">delete_forever</i></a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Delete Modal Structure -->
    <div id="delete-profile-modal" class="modal">
        <div class="modal-content ">
            <h4>Delete user profile?</h4>
            <p>Deleting the userprofile is permanent and cannot be undone, all your recipes will also be
                erased. <strong>Are you sure you want
                    to
                    delete your profile?</strong></p>
        </div>
        <div class="modal-footer">
            <!-- Cancel -->
            <a class="modal-close waves-effect waves-green btn-flat green-text">Cancel</a>
            <!-- Delete -->
            <a href="{{ url_for('delete_user',user_id=user_data._id) }}"
               class="modal-close waves-effect waves-green btn-flat red-text">DELETE</a>
        </div>
    </div>
{% endblock %}