{% extends 'base.html' %}
<!-- Header content  -->
{% block head_content %}
    <!-- Profile CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/edit-recipe.css') }}">

{% endblock %}

<!-- page Title -->
{% block title %}Edit Recipe{% endblock %}

<<!-- Navbar -->
{% block navbar %}
    <li><a href="{{ url_for('index') }}">HOME</a></li>
    <li><a href="{{ url_for('featured') }}">FEATURED</a></li>
    <li><a href="{{ url_for('all_recipes') }}">ALL</a></li>
    <li><a href="{{ url_for('search_recipes') }}" aria-label="search"><i class="material-icons">search</i></a></li>
    <!-- display username or login -->
    {% if session['USERNAME'] %}
        <li class="active" id="user"><a href="{{ url_for('profile') }}"> {{ session['USERNAME']|upper }} &nbsp;<i
                class="fas fa-user"></i></a></li>
    {% else %}
        <li id="login"><a href="{{ url_for('sign_in') }}"> LOGIN <i class="fas fa-user"></i></a></li>
    {% endif %}
{% endblock %}

<!-- Sidenav -->
{% block sidenav %}
    <!-- display username or login -->
    {% if session['USERNAME'] %}
        <li class="active"><a href="{{ url_for('profile') }}"> {{ session['USERNAME']|upper }} <i
                class="fas fa-user"></i></a></li>
    {% else %}
        <li><a href="{{ url_for('sign_in') }}"> LOGIN <i class="fas fa-user"></i></a></li>
    {% endif %}
    <li><a href="{{ url_for('index') }}"><i class="material-icons">home</i>HOME</a></li>
    <li><a href="{{ url_for('featured') }}"><i class="material-icons">stars</i>FEATURED</a></li>
    <li><a href="{{ url_for('all_recipes') }}"><i class="material-icons">format_list_bulleted</i>ALL</a></li>
    <li><a href="{{ url_for('search_recipes') }}"><i class="fas fa-search"></i>SEARCH</a></li>
{% endblock %}

{% block content %}
    <div class="col s12">
        <div class="row">
            <div class="col s2">
                <!-- Done button -->
                <a class="btn-floating btn waves-effect waves-light light-green done-btn tooltipped"
                   href="{{ url_for('profile') }}" data-position="right" data-tooltip="Done"><i class="material-icons">done</i></a>
            </div>
            <div class="col s8">
                <h5 class="center"> EDIT RECIPE </h5>
            </div>
            <div class="col s2">
                <!-- DELETE button -->
                <a class="btn-floating btn waves-effect waves-light red right modal-trigger tooltipped del-recipe-button"
                   href="#delete-recipe-modal" data-position="left" data-tooltip="Delete Recipe"><i
                        class="material-icons">delete</i></a>
            </div>
        </div>
    </div>

    <!-- Delete Modal Structure -->
    <div id="delete-recipe-modal" class="modal">
        <div class="modal-content ">
            <h4>Delete Recipe?</h4>
            <p>Deleting the Recipe is permanent and cannot be undone, <strong>are you sure you want to
                delete this Recipe?</strong></p>
        </div>
        <div class="modal-footer">
            <a href="{{ url_for('del_recipe', recipe_id=recipe_id) }}"
               class="modal-close waves-effect waves-green btn-flat red-text">DELETE</a>
            <a href="#"
               class="modal-close waves-effect waves-green btn-flat grey-text-text">Cancel</a>
        </div>
    </div>

    <!-- Page Tabs -->
    <div class="row">
        <div class="col s12">
            <ul class="tabs">
                <li class="tab col s3 recipe-tab "><a href="#image" class="active"><i class="medium material-icons">monochrome_photos</i></a>
                </li>
                <li class="tab col s3 recipe-tab"><a href="#overview"><i class="medium material-icons">import_contacts
                </i></a></li>
                <li class="tab col s3 recipe-tab"><a href="#ingredients"><i
                        class="medium material-icons">kitchen</i></a>
                </li>
                <li class="tab col s3 recipe-tab"><a href="#method"><i class="medium material-icons">assignment_turned_in</i></a>
                </li>
            </ul>
        </div>
        <form class="col s12" id="edit-recipe-form" enctype="multipart/form-data" method="POST"
              action="{{ url_for('update_recipe_image', user_id=user_id, recipe_id=recipe_id) }}">

            <!--IMAGE-->
            <div id="image" class="col s12">

                <div class="col s12">
                    <h6 class="center text-accent-1"> EDIT IMAGE </h6>
                </div>

                <div class="section">
                    <br>
                    <div class="row">
                        <div class="col s12 m8 offset-m2 l6 offset-l3  center">
                            <img class="edit-recipe-img" src="{{ current_recipe.image_url }}" alt="recipe image">
                        </div>
                    </div>

                    <!-- Recipe image upload -->
                    <div class="file-field input-field ">
                        <div class="row ">
                            <div class="col s12">
                                <div class="row">
                                    <!-- Icon -->
                                    <div class="col s1 offset-s1 ">
                                        <div class="btn-floating btn waves-effect waves-light blue folder-btn2 tooltipped"
                                             data-position="bottom" data-tooltip="Upload Image">
                                            <i class="material-icons">folder</i>
                                            <input type="file" name="file" accept="image/png, image/jpeg"></div>
                                    </div>
                                    <!-- filename -->
                                    <div class="col s8  file-path-wrapper ">
                                        <input id="recipe-image" class="file-path validate" type="text"
                                               onchange="this.form.submit()">
                                        <label for="recipe-image">Choose an image</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div id="overview" class="col s12">
            <form action="{{ url_for('update_recipe', user_id=user_id, recipe_id=recipe_id) }}" method="POST">
                <!-- Recipe Info Section Title -->
                <div class="col s12">
                    <h6 class="center text-accent-1"> RECIPE INFO </h6>
                </div>
                <br>
                <div class="row">
                    <!-- Recipe Name -->
                    <div class="input-field col s12">
                        <input id="recipe_name" type="text" class="validate" name="recipe-name"
                               value="{{ current_recipe.name }}">
                        <label for="recipe_name">Recipe Name</label>
                    </div>
                    <!-- Recipe Description -->
                    <div class="input-field col s12">
                        <textarea id="recipe_description" class="materialize-textarea"
                                  name="recipe-description">{{ current_recipe.description }}</textarea>
                        <label for="recipe_description">Description</label>
                    </div>

                </div>
                <!--Prep-Time-->
                <div class="row">
                    <div class="col s12">
                        <h6> Prep-Time </h6>
                    </div>
                    <!--Hours-->
                    <div class="input-field col s6">
                        <select id="prep-hrs" name="prep-hours">
                            <option value="{{ current_recipe.preptime_hrs }}"
                                    selected>{{ current_recipe.preptime_hrs }}</option>
                            {% for i in range(24) %}
                                <option value="{{ i }}">{{ i }}</option>
                            {% endfor %}
                        </select>
                        <label for="prep-hrs">Hours</label>
                    </div>
                    <!--Minutes-->
                    <div class="input-field col s6">
                        <select id="prep-min" name="prep-minutes">
                            <option value="{{ current_recipe.preptime_min }}"
                                    selected>{{ current_recipe.preptime_min }}</option>
                            {% for i in range(60) %}
                                <option value="{{ i }}">{{ i }}</option>
                            {% endfor %}
                        </select>
                        <label for="prep-min">Minutes</label>
                    </div>
                    <div class="col s12">
                        <h6> Cook-Time </h6>
                    </div>
                    <!--Hours-->
                    <div class="input-field col s6">
                        <select id="cook-hrs" name="cook-hours">
                            <option value="{{ current_recipe.cooktime_hrs }}"
                                    selected>{{ current_recipe.cooktime_hrs }}</option>
                            {% for i in range(24) %}
                                <option value="{{ i }}">{{ i }}</option>
                            {% endfor %}
                        </select>
                        <label for="cook-hrs">Hours</label>
                    </div>
                    <!--Minutes-->
                    <div class="input-field col s6">
                        <select id="cook-min" name="cook-minutes">
                            <option value="{{ current_recipe.cooktime_min }}"
                                    selected>{{ current_recipe.cooktime_min }}</option>
                            {% for i in range(60) %}
                                <option value="{{ i }}">{{ i }}</option>
                            {% endfor %}
                        </select>
                        <label for="cook-min">Minutes</label>
                    </div>
                </div>
                <!--Serves-->
                <div class="row">
                    <div class="input-field col s6">
                        <select id="serves" name="serves">
                            <option value="{{ current_recipe.serves }}" selected>{{ current_recipe.serves }}</option>
                            {% for i in range(11) %}
                                <option value="{{ i }}">{{ i }}</option>
                            {% endfor %}
                        </select>
                        <label for="serves">Serves</label>
                    </div>
                </div>
                <!-- Recipe Notes -->
                <div class="input-field col s12">
                        <textarea id="recipe_notes" class="materialize-textarea"
                                  name="recipe-notes">{{ current_recipe.notes }}</textarea>
                    <label for="recipe_notes">Notes</label>
                </div>
                <div class="row">
                    <div class="col s12">

                        <!-- Save Button -->
                        <button class="btn-floating btn waves-effect waves-light green left tooltipped"
                                type="submit"
                                name="action" data-position="top" data-tooltip="Save Recipe Info"><i
                                class="material-icons">save</i></button>
                    </div>
                </div>
            </form>
        </div>

        <!-- INGREDIENTS -->
        <div id="ingredients" class="col s12">
            <ul class="collection with-header">
                <li class="collection-header center grey lighten-1"><h4>INGREDIENTS</h4></li>
                <!-- Current ingredients -->
                {% for ingredient in current_ingredients %}
                    <li class="collection-item">
                        <div>
                            {{ ingredient.ingredient_item }}
                            <a href="
                                {{ url_for('del_ingredient_item',user_id=user_id, recipe_id=recipe_id, ingredient_id=ingredient._id) }}"
                               class="secondary-content red-text">
                                <i class="material-icons">delete</i></a></div>
                    </li>
                {% endfor %}
            </ul>
            <form method="POST" action="{{ url_for('add_ingredient_item',user_id=user_id, recipe_id=recipe_id) }}"
                  class="col s12 ">
                <div class="row">
                    <!-- Ingredient-->
                    <div class="input-field col s12">
                        <input id="icon_username" type="text" class="validate" name="ingredient_item" minlength="3"
                               required>
                        <label for="icon_username">Ingredient</label>
                    </div>
                    <!-- ADD button -->
                    <div class="col s12 center">
                        <button class="btn-floating btn waves-effect waves-light green tooltipped"
                                data-position="bottom" data-tooltip="Add Ingredient" type="submit"
                                name="action"><i class="material-icons">add</i></button>
                    </div>

                </div>
            </form>
        </div>

        <!-- METHODS -->
        <div id="method" class="col s12">
            <ul class="collection with-header">
                <li class="collection-header center grey lighten-1"><h4>METHODS</h4></li>
                <!-- Current methods -->
                {% for method in current_methods %}
                    <li class="collection-item">
                        <div>
                            {{ method.method_name }}
                            <a href="
                                {{ url_for('del_method_item',user_id=user_id, recipe_id=recipe_id, method_id=method._id) }}"
                               class="secondary-content red-text">
                                <i class="material-icons">delete</i></a></div>
                    </li>
                {% endfor %}
            </ul>
            <!-- Form -->
            <div class="row">
                <form method="POST" action="{{ url_for('add_method_item',user_id=user_id, recipe_id=recipe_id) }}"
                      class="col s12 ">
                    <div class="row">
                        <!-- method-->
                        <div class="input-field col s12">
                            <input id="icon_method" type="text" class="validate" name="method_name" minlength="3"
                                   required>
                            <label for="icon_method">Method</label>
                        </div>
                        <!-- ADD button -->
                        <div class="col s12 center">
                            <button class="btn-floating btn waves-effect waves-light green tooltipped"
                                    data-position="bottom" data-tooltip="Add Method" type="submit"
                                    name="action"><i class="material-icons">add</i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}