{% extends 'base.html' %}
{% block head_content %}
    <!-- Card CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/card.css') }}">
{% endblock %}

{% block content %}

    <!-- Sorting section  -->
    <div class="section">
        <div class="row">
            <div class="col s12 m8 offset-m2">
                <div class="row">
                    <div class="col s6 xl2 offset-xl4">
                        <form class="  index-filter-area" method="POST"
                              action="{{ url_for('featured_limit') }}">
                            <div class="input-field">
                                <select name="amount" onchange="this.form.submit()">
                                     <option value="{{ limit }}" disabled selected>{{ limit }}</option>
                                    {% for num in range(1,paginated_recipes.count()+1) %}
                                        {% if num % 2 == 0 %}
                                            <option value="{{ num }}">{{ num }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                                <label>SHOW</label>
                            </div>
                        </form>
                    </div>
                    <div class="col s6 xl2 ">
                        <form class=" index-filter-area" method="POST"
                              action="{{ url_for('featured_sort', pg=current_pg, limit=limit) }}">
                            <div class="input-field">
                                <select name="sort" onchange="this.form.submit()">
                                    {% if sort|int == 1 %}
                                        <option value="{{ sort }}" disabled selected>A-Z</option>
                                    {% else %}
                                        <option value="{{ sort }}" disabled selected>Z-A</option>
                                    {% endif %}
                                    <option value="1">A-Z</option>
                                    <option value="2">Z-A</option>
                                </select>
                                <label>SORT</label>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <hr>
        </div>
    </div>

    <!-- Recipe cards-->
    <div class="section">
        <div class="row">
            {% for recipe in paginated_recipes %}
                <div class="col s12 m6 l4 xl3">
                    <div class="card small">
                        <div class="card-image">
                            <a href="{{ url_for('recipe', recipe_id=recipe._id) }}">
                                <img src="{{ recipe.image_url }}">
                            </a>
                        </div>
                        <div class="card-content">
                        <span class="card-title activator ">{{ recipe.name }}<i
                                class="material-icons right">more_vert</i></span>
                        </div>
                        <div class="card-reveal">
                            <div class="card-title-box">
                                <i class="card-title material-icons right">close</i>
                                <h6 class="card-title grey-text text-darken-4 more-title">{{ recipe.name }} </h6>
                                <hr>
                            </div>
                            <!--Recipe timings -->
                            <div class="row card-timings">
                                <div class="col s12">
                                    <div class="col s4 center">
                                        <i class="material-icons">query_builder</i>
                                        <p class="card-recipe-time">{{ recipe.preptime_hrs }}h{{ recipe.preptime_min }}m</p>
                                        <p class="card-recipe-time-heading">PREP</p>
                                    </div>
                                    <div class="col s4 center">
                                        <i class="material-icons">hourglass_empty</i>
                                        <p class="card-recipe-time">{{ recipe.cooktime_hrs }}h{{ recipe.cooktime_min }}m</p>
                                        <p class="card-recipe-time-heading">COOK</p>
                                    </div>
                                    <div class="col s4 center">
                                        <i class="material-icons">restaurant</i>
                                        <p class="card-recipe-time">{{ recipe.serves }}</p>
                                        <p class="card-recipe-time-heading">SERVES</p>
                                    </div>
                                </div>
                            </div>
                            <p class="card-description">{{ recipe.description }}</p>
                            <p class="card-link center"><a
                                    href="{{ url_for('recipe', recipe_id=(recipe._id)) }}">VIEW</a></p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
      <!-- Pagination Section -->
    <div class="section">
        <div class="row">
            <div class="col s12 center">
                <ul class="pagination">
                    <!-- Prev page chevron disable if at beginning -->
                    {% if current_pg|int == 1 %}
                        <li class="disabled"><a><i class="material-icons">chevron_left</i></a></li>
                    {% else %}
                        <li class="waves-effect"><a
                                href="{{ url_for('featured', pg=current_pg|int-1 , limit=limit, sort=sort, _anchor='recipe-list') }}"><i
                                class="material-icons">chevron_left</i></a></li>
                    {% endif %}
                    <!-- Create the correct number of pages based on the limit -->
                    {% for i in range(paginated_recipes.count()) %}
                        {% if loop.index % limit == 0 %}
                            <!-- Highlight the selected page -->
                            {% if loop.index//limit == current_pg | int %}
                                <li class="active"><a
                                        href="{{ url_for('featured', pg=loop.index//limit , limit=limit, sort=sort, _anchor='recipe-list') }}">{{ loop.index // limit }}</a>
                                </li>
                            {% else %}
                                <li class="waves-effect"><a
                                        href="{{ url_for('featured', pg=loop.index//limit , limit=limit, sort=sort, _anchor='recipe-list') }}">{{ loop.index // limit }}</a>
                                </li>
                            {% endif %}
                        {% else %}
                        {% endif %}
                    {% endfor %}
                    <!-- Add a page if the pages are not evenly divisible by the limit -->
                    {% if paginated_recipes.count()%limit != 0 %}
                        {% if current_pg|int == lastpg %}
                            <!-- Highlight the selected page -->
                            <li class="active"><a
                                    href="{{ url_for('featured', pg=lastpg , limit=limit, sort=sort, _anchor='recipe-list') }}">{{ lastpg }}</a>
                            </li>
                            <li class="disabled"><a><i class="material-icons">chevron_right</i></a></li>
                        {% else %}
                            <li><a href="{{ url_for('featured', pg=lastpg , limit=limit, sort=sort, _anchor='recipe-list') }}">{{ lastpg }}</a>
                            </li>
                            <li class="waves-effect"><a
                                    href="{{ url_for('featured', pg=current_pg|int+1 , limit=limit, sort=sort,
                                            _anchor='recipe-list') }}"><i class="material-icons">chevron_right</i></a></li>
                        {% endif %}
                    {% else %}
                        <!-- Next page chevron disable if at end -->
                        {% if current_pg|int == all_recipes.count()//limit %}
                            <li class="disabled"><a><i class="material-icons">chevron_right</i></a></li>
                        {% else %}
                            <li class="waves-effect"><a
                                    href="{{ url_for('featured', pg=current_pg|int+1 , limit=limit, sort=sort,
                                            _anchor='recipe-list') }}"><i
                                    class="material-icons">chevron_right</i></a></li>
                        {% endif %}
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
    <!-- Custom JS -->
    {% block script_content %}
        <script>
            let home = document.getElementById("featured");
            home.classList.add("active");
        </script>
    {% endblock %}
{% endblock %}