{% extends 'base.html' %}

{% block head_content %}
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block content %}
    <!-- Slider Section -->
    <div class="section">
        <div class="slider">
            <ul class="slides">
                <!-- random featured image -->
                {% for recipe in random_recipes %}
                    <li>
                        <!-- link to recipe -->
                        <a href="{{ url_for('recipe', recipe_id=recipe._id) }}">
                            <!-- recipe image -->
                            <img src={{ recipe.image_url }}>
                        </a>
                        <!-- recipe caption -->
                        <div class="caption center-align ">
                            <h3>{{ recipe.name }}</h3>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="row">
            <hr>
        </div>
    </div>

    <!-- Recipe cards-->
    <div class="section">

            <div class="row">
        {% for recipe in all_recipes %}
                <div class="col s3">
                    <div class="card small">
                        <div class="card-image">
                            <img src="{{ recipe.image_url }}">
                        </div>
                        <div class="card-content">
                        <span class="card-title activator ">{{ recipe.name }}<i
                                class="material-icons right">more_vert</i></span>
                        </div>
                        <div class="card-reveal">
                            <i class="card-title material-icons right">close</i>
                        <span class="card-title grey-text text-darken-4">{{ recipe.name }}</span>
                            <p>Here is some more information about this product that is only revealed once clicked
                                on.</p>
                        </div>
                    </div>
                </div>
        {% endfor %}
            </div>

    </div>
{% endblock %}