{% extends 'base.html' %}
<!-- Header content  -->
{% block head_content %}
    <!-- Profile CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
    <!-- Card CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/card.css') }}">
{% endblock %}

<!-- page title block -->
{% block title %}Profile{% endblock %}

<!-- Navbar -->
{% block navbar %}
    <li><a href="{{ url_for('index') }}">HOME</a></li>
    <li><a href="{{ url_for('featured') }}">FEATURED</a></li>
    <li><a href="{{ url_for('all_recipes') }}">ALL</a></li>
    <li><a href="{{ url_for('search_recipes') }}" aria-label="search"><i class="material-icons">search</i></a></li>
    <!-- display username or login -->
    {% if session['USERNAME'] %}
        <li class="active" id="user"><a href="{{ url_for('profile') }}"> {{ session['USERNAME']|upper }} &nbsp;<i
                class="fas fa-user"></i></a></li>
    {% else %}
        <li id="login"><a href="{{ url_for('sign_in') }}"> LOGIN <i class="fas fa-user"></i></a></li>
    {% endif %}
{% endblock %}

<!-- Sidenav -->
{% block sidenav %}
    <!-- display username or login -->
    {% if session['USERNAME'] %}
        <li class="active"><a href="{{ url_for('profile') }}"> {{ session['USERNAME']|upper }} <i
                class="fas fa-user"></i></a></li>
    {% else %}
        <li><a href="{{ url_for('sign_in') }}"> LOGIN <i class="fas fa-user"></i></a></li>
    {% endif %}
    <li><a href="{{ url_for('index') }}"><i class="material-icons">home</i>HOME</a></li>
    <li><a href="{{ url_for('featured') }}"><i class="material-icons">stars</i>FEATURED</a></li>
    <li><a href="{{ url_for('all_recipes') }}"><i class="material-icons">format_list_bulleted</i>ALL</a></li>
    <li><a href="{{ url_for('search_recipes') }}"><i class="fas fa-search"></i>SEARCH</a></li>
{% endblock %}

<!-- main content -->
{% block content %}
    <!-- Profile section -->
    <div class="section">
        <div class="row">
            <div class="col s12 lx6">
                <!-- Sign out button -->
                <a class="btn-floating btn waves-effect waves-light orange right tooltipped"
                   href="{{ url_for('sign_out') }}" data-position="left" data-tooltip="Sign out"><i
                        class="material-icons">exit_to_app</i></a>
            </div>
            <!-- Profile name -->
            <div class="col s12 profile-title-text center">
                <h5>Welcome,</h5>
                <h4>{{ user_data.username|upper }}</h4>
                <BR>
            </div>
            <!-- Profile image -->
            <div class="col s12 center">
                <img class=" profile-img-lg" src="{{ user_data.profile_image }}" alt="users profile image">
            </div>
            <!-- About -->
            <div class="col s12 xl8 profile-bio-text offset-xl2">
                <h5>About me</h5>
                <p>{{ user_data.bio }}</p>
            </div>
        </div>
        <div class="row">
            <!-- Edit profile -->
            <div class="col s12 xl8 offset-xl2">
                <a class="btn-floating btn waves-effect waves-light cyan tooltipped"
                   href="{{ url_for('edit_profile', user_id=user_data._id) }}" data-position="left"
                   data-tooltip="Edit profile"><i class="material-icons">edit</i></a>
            </div>
        </div>
    </div>
    <!-- Section Divider  -->
    <div class="row">
        <hr>
    </div>

    <!-- recipe section -->
    <div class="section">
        <div class="row">
            <div class="col s12 ">
                <!-- Heading -->
                <h4>My Recipes</h4>
            </div>
            <!-- Add Recipe -->
            <div class="col s12">
                <a class="btn-floating btn waves-effect waves-light green tooltipped"
                   href="{{ url_for('add_temp_recipe', user_id=user_data._id) }}" data-position="right"
                   data-tooltip="Add Recipe"><i class="material-icons">add</i></a>
            </div>

            <!-- List Cards -->
            <div class="row">
                {% for recipe in users_recipes %}
                    <div class="col s12 m6 l4 xl3">
                        <!-- Edit profile -->
                        <a class="btn-floating btn-small waves-effect waves-light cyan tooltipped recipe-edit"
                           href="{{ url_for('edit_recipe', user_id=user_data._id, recipe_id=recipe._id) }}"
                           data-position="bottom"
                           data-tooltip="Edit"><i class="material-icons">edit</i></a>
                        <div class="card medium">
                            <!-- recipe image -->
                            <div class="card-image">
                                <a href="{{ url_for('recipe', recipe_id=recipe._id) }}">
                                    <img src="{{ recipe.image_url }}" alt="{{ recipe.name }} image">
                                </a>
                            </div>
                            <div class="card-content">
                                <div class="row">
                                    <div class="col s12 card-title activator">
                                        <div class="row">
                                            <!-- recipe name -->
                                            <div class="col s10">
                                                <p class="card-title activator">{{ recipe.name }}</p>
                                            </div>
                                            <div class="col s2">
                                                <i class="material-icons card-title activator right more-icon">more_vert</i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-reveal">
                                <div class="row">
                                    <div class="col s12">
                                        <!-- card reveal -->
                                        <div class="card-title-box">
                                            <div class="col s10">
                                                <h6 class="card-title grey-text text-darken-4 more-title">{{ recipe.name }} </h6>
                                            </div>
                                            <div class="col s2">
                                                <i class="card-title material-icons close-icon">close</i>
                                            </div>
                                        </div>
                                        <hr>
                                    </div>
                                </div>
                                <!-- Recipe timings -->
                                <div class="row card-timings">
                                    <div class="col s12">
                                        <div class="col s4 center">
                                            <i class="material-icons">query_builder</i>
                                            <p class="card-recipe-time">{{ recipe.preptime_hrs }}h{{ recipe.preptime_min }}m</p>
                                            <p class="card-recipe-time-heading">PREP</p>
                                        </div>
                                        <div class="col s4 center">
                                            <i class="material-icons">hourglass_empty</i>
                                            <p class="card-recipe-time">{{ recipe.cooktime_hrs }}h{{ recipe.cooktime_min }}m</p>
                                            <p class="card-recipe-time-heading">COOK</p>
                                        </div>
                                        <div class="col s4 center">
                                            <i class="material-icons">restaurant</i>
                                            <p class="card-recipe-time">{{ recipe.serves }}</p>
                                            <p class="card-recipe-time-heading">SERVES</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- recipe discriptuion -->
                                <p class="card-description">{{ recipe.description }}</p>
                                <!-- link to recipe -->
                                <p class="card-link center"><a
                                        href="{{ url_for('recipe', recipe_id=(recipe._id)) }}">VIEW</a></p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <!-- Section Divider  -->
    <div class="row">
        <hr>
    </div>

    <div id='favourites' class="section">
        <!-- Favourites section -->
        <div class="row">
            <div class="col s12 ">
                <!-- section heading -->
                <h4>My Favourites</h4>
            </div>
            <!-- List Cards -->
            <div class="row">
                {% for recipe in favorites %}
                    <div class="col s12 m6 l4 xl3">
                        <!-- remove button -->
                        <a class="btn-floating btn-small waves-effect waves-light red tooltipped recipe-edit"
                           href="{{ url_for('remove_favorite', user_id=user_data._id, recipe_id=recipe._id, _anchor='favourites') }}"
                           data-position="bottom"
                           data-tooltip="remove"><i class="material-icons">close</i></a>
                        <div class="card medium">
                            <!-- recipe image -->
                            <div class="card-image">
                                <a href="{{ url_for('recipe', recipe_id=recipe._id) }}">
                                    <img src="{{ recipe.image_url }}" alt="{{ recipe.name }} image">
                                </a>
                            </div>
                            <div class="card-content">
                                <div class="row">
                                    <div class="col s12 card-title activator">
                                        <div class="row">
                                            <!-- recipe name -->
                                            <div class="col s10">
                                                <p class="card-title activator">{{ recipe.name }}</p>
                                            </div>
                                            <div class="col s2">
                                                <i class="material-icons card-title activator right more-icon">more_vert</i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-reveal">
                                <div class="row">
                                    <div class="col s12">
                                        <!-- Card reveal -->
                                        <div class="card-title-box">
                                            <div class="col s10">
                                                <h6 class="card-title grey-text text-darken-4 more-title">{{ recipe.name }} </h6>
                                            </div>
                                            <div class="col s2">
                                                <i class="card-title material-icons close-icon">close</i>
                                            </div>
                                        </div>
                                        <hr>
                                    </div>
                                </div>
                                <!-- Recipe timings -->
                                <div class="row card-timings">
                                    <div class="col s12">
                                        <div class="col s4 center">
                                            <i class="material-icons">query_builder</i>
                                            <p class="card-recipe-time">{{ recipe.preptime_hrs }}h{{ recipe.preptime_min }}m</p>
                                            <p class="card-recipe-time-heading">PREP</p>
                                        </div>
                                        <div class="col s4 center">
                                            <i class="material-icons">hourglass_empty</i>
                                            <p class="card-recipe-time">{{ recipe.cooktime_hrs }}h{{ recipe.cooktime_min }}m</p>
                                            <p class="card-recipe-time-heading">COOK</p>
                                        </div>
                                        <div class="col s4 center">
                                            <i class="material-icons">restaurant</i>
                                            <p class="card-recipe-time">{{ recipe.serves }}</p>
                                            <p class="card-recipe-time-heading">SERVES</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- recipe discriptuion -->
                                <p class="card-description">{{ recipe.description }}</p>
                                <!-- link to recipe -->
                                <p class="card-link center"><a
                                        href="{{ url_for('recipe', recipe_id=(recipe._id)) }}">VIEW</a></p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}