{% extends 'base.html' %}
<!-- page title block -->
{% block title %}Sign-in{% endblock %}

<!-- Navbar Block -->
{% block navbar %}
    <li><a href="{{ url_for('index') }}">HOME</a></li>
    <li><a href="{{ url_for('featured') }}">FEATURED</a></li>
    <li><a href="{{ url_for('all_recipes') }}">ALL</a></li>
    <li><a href="{{ url_for('search_recipes') }}"><i class="material-icons">search</i></a></li>
    <!-- If user is logged in display username and link to profile page else link to login page -->
    {% if session['USERNAME'] %}
        <li class="active" id="user"><a href="{{ url_for('profile') }}"> {{ session['USERNAME']|upper }} &nbsp;<i
                class="fas fa-user"></i></a></li>
    {% else %}
        <li class="active" id="login"><a href="{{ url_for('sign_in') }}"> login <i
                class="fas fa-user"></i></a></li>
    {% endif %}
{% endblock %}
<!-- Sidenav Block -->
{% block sidenav %}
    <!-- If user is logged in display username and link to profile page else link to login page -->
    {% if session['USERNAME'] %}
        <li class="active"><a href="{{ url_for('profile') }}"> {{ session['USERNAME'] }} <i
                class="fas fa-user"></i></a></li>
    {% else %}
        <li class="active"><a href="{{ url_for('sign_in') }}"> {{ session['USERNAME'] }} <i
                class="fas fa-user"></i></a></li>
    {% endif %}
    <li><a href="{{ url_for('index') }}"><i class="material-icons">home</i>HOME</a></li>
    <li><a href="{{ url_for('featured') }}"><i class="material-icons">stars</i>FEATURED</a></li>
    <li><a href="{{ url_for('all_recipes') }}"><i class="material-icons">format_list_bulleted</i>ALL</a></li>
    <li><a href="{{ url_for('search_recipes') }}">SEARCH<i class="fas fa-search"></i></a></li>
{% endblock %}

{% block content %}

    <div class="section">
        <!-- Title -->
        <div class="row">
            <div class="col s12 m8 offset-m2 l6 offset-l3 xl4 offset-xl4 center sign-in-header">
                <h4>Sign-in</h4>
            </div>
        </div>
        <!-- Form -->
        <div class="row">
            <form method="POST" action="{{ url_for('sign_in') }}"
                  class="col s12 m8 offset-m2 l6 offset-l3 xl4 offset-xl4">
                <div class="row">

                    <!-- Invalid Username field-->
                    {% if failed == True %}
                        <div class="input-field col s12">
                            <i class="material-icons prefix">account_circle</i>
                            <input id="icon_username" type="text" class="validate invalid" name="username" required>
                            <label for="icon_username">Username</label>
                            <span class="helper-text" data-error="Invalid username or password"
                                  data-success="">3 - 15 characters</span>
                        </div>

                        <!-- Invalid Password field-->
                        <div class="input-field col s12">
                            <i class="material-icons prefix">vpn_key</i>
                            <input id="icon_password" type="password" class="validate invalid" name="password" required>
                            <label for="icon_password">Password</label>
                        </div>
                        <div class="col s12 center">
                    {% else %}

                        <!-- Username field-->
                        <div class="input-field col s12">
                            <i class="material-icons prefix">account_circle</i>
                            <input id="icon_username" type="text" class="validate" name="username" required>
                            <label for="icon_username">Username</label>
                        </div>

                        <!-- Password field-->
                        <div class="input-field col s12">
                            <i class="material-icons prefix">vpn_key</i>
                            <input id="icon_password" type="password" class="validate" name="password" required>
                            <label for="icon_password">Password</label>
                        </div>

                    {% endif %}
                    </div>
                    <!-- Submit button -->
                    <button class="btn waves-effect waves-light grey darken-3 grey-text text-lighten-2
                        sign-in-btn " type="submit" name="action">Login
                    </button>
                </div>
            </form>
        </div>
    </div>
    <!-- link to sign up -->
    <div class="row">
        <div class="col s12 m8 offset-m2 l6 offset-l3 xl4 offset-xl4 center">
            <p>Don't have an account? <a href="{{ url_for('register') }}">Sign up here.</a></p>
        </div>
    </div>
{% endblock %}