{% extends 'base.html' %}

{% block content %}

    <div class="section">
        <!-- Title -->
        <div class="row">
            <div class="col s12 m8 offset-m2 l6 offset-l3 xl4 offset-xl4 center sign-in-header">
                <h4>Sign-in</h4>
            </div>
        </div>
        <!-- Form -->
        <div class="row">
            <form method="POST" action="{{ url_for('sign_in') }}"
                  class="col s12 m8 offset-m2 l6 offset-l3 xl4 offset-xl4">
                <div class="row">

                    <!-- Invalid Username field-->
                    {% if failed == True %}
                        <div class="input-field col s12">
                            <i class="material-icons prefix">account_circle</i>
                            <input id="icon_username" type="text" class="validate invalid" name="username" required>
                            <label for="icon_username">Username</label>
                            <span class="helper-text" data-error="Invalid username password."
                                  data-success="">3 - 15 characters</span>
                        </div>

                        <!-- Invalid Password field-->
                        <div class="input-field col s12">
                            <i class="material-icons prefix">vpn_key</i>
                            <input id="icon_password" type="password" class="validate invalid" name="password" required>
                            <label for="icon_password">Password</label>
                        </div>
                        <div class="col s12 center">
                    {% else %}

                        <!-- Username field-->
                        <div class="input-field col s12">
                            <i class="material-icons prefix">account_circle</i>
                            <input id="icon_username" type="text" class="validate" name="username" required>
                            <label for="icon_username">Username</label>
                        </div>

                        <!-- Password field-->
                        <div class="input-field col s12">
                            <i class="material-icons prefix">vpn_key</i>
                            <input id="icon_password" type="password" class="validate" name="password" required>
                            <label for="icon_password">Password</label>
                        </div>

                    {% endif %}
                    </div>
                    <!-- Submit button -->
                    <button class="btn waves-effect waves-light grey darken-3 grey-text text-lighten-2
                        sign-in-btn " type="submit" name="action">Login
                    </button>
                </div>
            </form>
        </div>
    </div>
    <!-- link to sign up -->
    <div class="row">
        <div class="col s12 m8 offset-m2 l6 offset-l3 xl4 offset-xl4 center">
            <p>Don't have an account? <a href="{{ url_for('register') }}">Sign up here.</a></p>
        </div>
    </div>
    <!-- Custom JS -->
    {% block script_content %}
        <script>
            let home = document.getElementById("login");
            home.classList.add("active");
        </script>
    {% endblock %}
{% endblock %}